
<section>
  <section class="content">{{{ content }}}</section>
  <section class="comments-wrap">
    <section class="new-comment">{{{ newComment }}}</section>
    <section class="comments">{{{ comments }}}</section>
  </section>
</section>
