
<form id="form" hx-swap="outerHTML" hx-post="/blog/new-comment">
  <label>
    Author:
    <input name="author" />
  </label>
  <label>
    Comment:
    <textarea name="comment"></textarea>
  </label>
  <button>
      Post
  </button>
</form>